The environment I am using:

platform: google colab

python version : 3.11.11

pytorch version: 2.6.0+cu124

Type of GPU (training): L4

Type of GPU (inferencing): A100

execution step:
the steps of training and inferencing are provided in the section called "execution step" in report.pdf. 